* { 
	margin: 0;
	padding: 0;
	outline: 0
}

body
{
	font: 12px/165% 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
}

#container
{
	margin: 0 0;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #ccc;
	text-align: right;
	padding: 7px;
}

label.error
{
	color: #EA5200;
	font-weight: bold;
	padding-left: 5px;
}
